.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}
.container{
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
}
.feature-icon.d-inline-flex.align-items-center.justify-content-center.text-bg-primary.bg-gradient.fs-2.mb-3 {}

.feature-icon.d-inline-flex.align-items-center.justify-content-center.text-bg-primary.bg-gradient.fs-2.mb-3 {}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}

}
